// Specific CSS for your home-page
@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-Black.eot');
    src: url('fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
         url('fonts/CircularStd-Black.woff2') format('woff2'),
         url('fonts/CircularStd-Black.woff') format('woff'),
         url('fonts/CircularStd-Black.ttf')  format('truetype'),
         url('fonts/CircularStd-Black.svg#Circular Std') format('svg');
}

#home-page {
  background-color: #fff;
  padding: 80px 16px 16px 16px;
  .section-text {
    z-index: 100;
    display: flex;
    align-items: center;
    height: 500px;
    position: relative;
    top: -240px;
    h1 {
      font-family: 'Circular Std', sans-serif;
      font-weight: 900;
      font-style: normal;
      line-height: 1.3em;
      margin-bottom: 32px;
    }
    h5 {
      line-height: 1.3em;
    }
    button {
      height: 44px;
      width: 125px;
      font-size: 16px;
      color: 16px;
      background-color: green;
      color: #fff;
      border-radius: 8px;
      border: none;
      margin-top: 32px;
      font-weight: 400;
    }
    span {
      background-color: #00800150;
      padding: 2px 16px 2px 16px;
      border-radius: 4px;
      color: green !important;
      font-family: 'Circular Std', sans-serif;
      font-weight: 900;
      font-style: normal;
      line-height: 1.3em;
    }
    .left-section {
      padding-left: 120px;
    }

  }
  .background-pattern {
    background-image: radial-gradient(#00800110 20%, transparent 20%),
        radial-gradient(#00800110 20%, transparent 20%);
    background-position: 0 0, 50px 50px;
    background-size: 10px 10px;
    height: 320px;
    width: 320px;
    transform: translate(-30%, -30%) rotate(-10deg);
    z-index: 0;
    position: relative;
    &:first-child {
      top: 120px;
    }
    &:last-child {
      bottom: 280px;
      left: 400px !important;
  }
  }
  .banner .section-image-wrapper {
    background-color: #f7f7f8;
    height: 320px;
    width: 580px;
    border-radius: 12px;
    box-shadow: 0 15px 50px 20px rgba(51, 51, 79, 0.12);
    background-image: asset-url('banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .section-image-wrapper {
    background-color: #f7f7f8;
    height: 360px;
    width: 360px;
    border-radius: 12px;
    box-shadow: 0 15px 50px 20px rgba(51, 51, 79, 0.12);
    background-image: asset-url('');
    background-color: #BAD8B7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  #home-page .section-text {
    display: block;
    height: 640px;
    .section-image-wrapper {
      width: 100%;
      box-shadow: 0 15px 50px 20px rgba(51, 51, 79, 0.08);
      height: 280px;
    }
    .left-section {
      padding-left: 16px;
      margin: 48px 0px;
    }
    .right-section {
      margin: 48px 0px;
    }
    &:last-child {
      height: 540px;
    }
  }
  .background-pattern {
    display: none;
  }
  .banner {
    margin-top: 280px;
    height: 800px !important;
  }
}
