// Specific CSS for your home-page
@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-Black.eot');
    src: url('fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
         url('fonts/CircularStd-Black.woff2') format('woff2'),
         url('fonts/CircularStd-Black.woff') format('woff'),
         url('fonts/CircularStd-Black.ttf')  format('truetype'),
         url('fonts/CircularStd-Black.svg#Circular Std') format('svg');
}

#home-page {
  background-color: #fff;
  padding: 80px 16px 16px 16px;
  .banner-text {
    z-index: 100;
    display: flex;
    align-items: center;
    height: 60vh;
    position: relative;
    top: -240px;
    h1 {
      font-family: 'Circular Std', sans-serif;
      font-weight: 900;
      font-style: normal;
      line-height: 1.3em;
      margin-bottom: 32px;
    }
    h5 {
      line-height: 1.3em;
    }
    span {
      background-color: #00800150;
      padding: 2px 16px 2px 16px;
      border-radius: 4px;
      color: green;
      font-family: 'Circular Std', sans-serif;
      font-weight: 900;
      font-style: normal;
      line-height: 1.3em;
    }
    .left-section {
      padding-left: 120px;
    }
  }
  .background-pattern {
  background-image: radial-gradient(#00800110 20%, transparent 20%),
      radial-gradient(#00800110 20%, transparent 20%);
  background-position: 0 0, 50px 50px;
  background-size: 10px 10px;
  height: 320px;
  width: 320px;
  transform: translate(-30%, -30%) rotate(-10deg);
  z-index: 0;
  position: relative;
  &:first-child {
    top: 120px;
  }
  &:last-child {
    bottom: 280px;
    left: 400px !important;
  }
  }
  .banner {
    height: 100vh;
  }
  .banner-image-wrapper {
    background-color: #f7f7f8;
    height: 400px;
    width: 560px;
    border-radius: 12px;
    box-shadow: 0 15px 50px 20px rgba(51, 51, 79, 0.12);
  }
}
