<div id="bottom-nav">
  <ul>
    <li>
      Home
    </li>
    <li>
      Facilities
    </li>
    <li>
      Grounds
    </li>
    <li>
      Bookings
    </li>
    <li>
      Profile
    </li>
  </ul>
</div>
