#facilities-index-page {
  min-height: 100vh;
  background-color: #fff;
  padding: 80px 16px 16px 16px;
  ul {
    list-style-type: none;
    padding: 0px;
  }
  li {
    border-top: 1px solid #e1e1e1;
    padding: 16px 16px 16px 0px;
    display: flex;
  }
  .image-wrapper {
    background-color: #f7f7f8;
    width: 300px;
    height: 200px;
    border-radius: 12px;
    margin-right: 16px;
  }
  .map-wrapper {
    background-color: #f7f7f8;
    position: fixed;
    top: 80px;
    right: 0px;
    height: 95vh;
    padding: 0px;
  }
  // .facilities-search-bar {
  //   width: 100vw;
  //   position: fixed;
  //   height: 80px;
  //   left: 0px;
  //   top: 0px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   z-index: 800;
  // }
  .facilities-search-bar input {
    position: fixed;
    width: 400px;
    height: 44px;
    -webkit-appearance: none;
    box-sizing: inherit;
    margin-bottom: 0;
    border: 0;
    border-radius: 50px;
    font-size: 15px;
    background-color: #f7f7f8;
    text-indent: 0;
    color: #343538;
    outline: 0;
    box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.0509804);
    padding: 0 0 0 24px;
    line-height: 22px;
    font-weight: 300;
    z-index: 999;
    top: 18px;
    left: 50%;
    margin-left: -200px;
  }
}
