<div id="home-page">
  <div>
    <div class="background-pattern">
    </div>
    <div class="section-text banner">
      <div class="col-12 col-lg-6 left-section">
        <h1>An empty <span>pitch</span><br /> is calling </h1>
        <h5>The best way to discover, book and review<br /> sports ground facilities.</h5>
        <%= link_to "Get Started", "/facilities", class: "get-started-btn" %>
      </div>
      <div class="col-12 col-lg-6 right-section">
        <div class="section-image-wrapper">
        </div>
      </div>
    </div>

    <div class="section-text">
      <div class="d-none d-lg-block col-lg-6 left-section first-section">
        <div class="section-image-wrapper">
        </div>
      </div>
      <div class="col-12 col-lg-6 right-section">
        <h1>Discover your<br /> <span>sport</span></h1>
        <h5>The best way to discover, book and review<br /> sports ground facilities.</h5>
      </div>
      <div class="col-12 d-block .d-lg-none left-section">
        <div class="section-image-wrapper section-image-1">
        </div>
      </div>
    </div>

    <div class="section-text">
      <div class="col-12 col-lg-6 left-section">
        <h1>Play the <span>field</span><br /></h1>
        <h5>The best way to discover, book and review<br /> sports ground facilities.</h5>
      </div>
      <div class="col-12 col-lg-6 right-section middle-section">
        <div class="section-image-wrapper">
        </div>
      </div>
    </div>

    <div class="section-text">
      <div class="d-none d-lg-block col-lg-6 left-section last-section">
        <div class="section-image-wrapper">
        </div>
      </div>
      <div class="col-12 col-lg-6 right-section">
        <h1>Rate, review,<br /> rebook.</h1>
        <h5>The best way to discover, book and review<br /> sports ground facilities.</h5>
      </div>
      <div class="col-12 d-block d-lg-none left-section last-section">
        <div class="section-image-wrapper">
        </div>
      </div>
    </div>
  </div>
</div>
