<div id="home-page">
  <div class="banner">
  <div class="background-pattern">
  </div>
  <div class="banner-text">
    <div class="col-6 left-section">
      <h1>An empty <span>field</span><br /> is calling </h1>
      <h5>The best way to discover, book and review<br /> sports ground facilities.</h5>
    </div>
    <div class="col-6 right-section">
      <div class="banner-image-wrapper">
      </div>
    </div>
  </div>
  <div class="background-pattern">
  </div>
  </div>
</div>
